#button{
    border: 1px solid;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 20px 48px;
    background-color: transparent;
}
#button:hover{
    box-shadow: 3px 2px 20px 0px black;
}